.container{
    background-image: linear-gradient(#e1effd, #fff);
    width: 100%;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.wrapper {
    display: grid;
    grid-template-columns: 19.25rem 1fr; /* Fixed width for left, flexible for right */
    grid-column-gap: 8rem; /* Adjust gap as needed */
    width: 100%;
    max-width: 120rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.left {
    position: sticky;
    top: 7.5rem;
    grid-column: 1; /* Ensures left occupies the first column */
}


.titleBlock{
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.caption{
    background-color: var(--base--white);
    color: black;
    border-width: 0;
    letter-spacing: .01em;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1em;
    grid-column-gap: .375rem;
    grid-row-gap: .375rem;
    border: 1px solid #ffffff29;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    padding-left: .875rem;
    padding-right: .875rem;
    display: flex;
    position: relative;
}

.leftP1{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.24em;
    color: black;
    margin: 0;
}

.leftP{
    letter-spacing: -.008em;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.56em;
    color: #070d137a;
    margin: 0;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.requestButton, .readButton {
    background-color: var(--base--primary);
    color: var(--text--text-light);
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: background-color 0.2s;
    font-size: 15px;
    font-weight: 500;
    border: none;
    position: relative; /* Make this button the relative parent */
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 25px;
}
.readButton{
    background-color: #ffffff14;
}

.requestButton:hover {
    background-color: #0070cc;
    gap: 30px;
}

.buttons a, .webLink {
    display: flex;
    gap: 25px; /* Initial gap between text and icon */
    text-decoration: none;
    color: black;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    padding: 0;
    font-size: 15px;
    transition: background-color .5s, border-bottom .5s, gap .5s; /* Add transition for gap */
    position: relative;
    border-bottom: 1px solid #1413131f;
}

.buttons a:hover, .webLink:hover {
    border-bottom: 1px solid black; /* Change border to white on hover */
    gap: 30px; /* Increase gap on hover */
}

.right {
    grid-column: 2; /* Makes sure right occupies the second column */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; /* Takes full available width */
    position: relative;
    transition: all, opacity 300ms;
}
.list{
    grid-column-gap: 2.5rem;
    grid-row-gap: 0rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    display: grid;
}
.item{
    border-bottom: 1px solid #070d131a;
    flex-flow: column;
    width: 100%;
    display: flex;
}
.drop{
    white-space: normal;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 5rem;
    padding: 1rem;
    display: flex;
}
.toggle{
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}
.text{
    font-weight: 500;
    letter-spacing: -.008em;
    font-size: 1.125rem;
    line-height: 1.56em;
    padding: 0%;
}
.icon{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    width: 18px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    padding-top: 2px;
    display: flex;
    position: static;
}