.container {
    width: 100%;
}

.sect {
    background-color: var(--base--dark);
    color: var(--text--text-light);
    height: 100vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    overflow: hidden;
}

.back {
    z-index: 1;
    pointer-events: none;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    inset: 0;
}

.backImage {
    width: 100%;
    height: 100%;
    position: relative; /* Added to ensure proper positioning of child elements */
    z-index: 1;
}

.image {
    background-color: #0e2246;
    width: 100%; /* Set the width to 100% */
    height: 100%; /* Set the height to 100% */
    object-position: 50% 0%;
    object-fit: contain; /* or cover, depending on your needs */
    padding: 6.25rem 2.4rem; /* You may want to remove padding if it conflicts */
}

.imageSmall {
    background-color: #0c1f42;
    width: 100%; /* Set the width to 100% */
    height: 100%; /* Set the height to 100% */
    object-position: 50% 0%;
    object-fit: contain; /* or cover, depending on your needs */
    padding: 2rem 0 0;
    display: none; /* Change this conditionally based on screen size */
}
.overlay {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 50%); /* Gradient from transparent to dark */
    z-index: 2; /* Ensure it's above the background images */
}

.heroContent {
    z-index: 3; /* Ensure content is above both the overlay and background */
    display: flex; /* Use flexbox to center content if needed */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
}

.contentWrapper {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    display: flex;
}

.rightWords{
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.rightWords p{
    margin: 7px 0;
    line-height: 1.56em;
    letter-spacing: -.01em;
    font-weight: 400;
}

.lastP{
    font-size: 16px;
}
.firstP{
    font-size: 16px;
    color: #ffffffa3;
}

.leftWords{
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.leftWords h1{
    letter-spacing: -.01em;
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0;
}
.separator{
    background-color: #ffffff1f;
    width: 50%;
    height: 1px;
    min-height: 1px;
    margin: 40px 0;
}

.buttons{
    display: flex;
    gap: 25px;
}
.requestButton {
    background-color: var(--base--primary);
    color: var(--text--text-light);
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: background-color 0.2s;
    font-size: 15px;
    font-weight: 500;
    border: none;
    position: relative; /* Make this button the relative parent */
    cursor: pointer;
}

.requestButton:hover {
    background-color: #0070cc;
}

.buttons a {
    display: flex;
    gap: 35px; /* Initial gap between text and icon */
    text-decoration: none;
    color: #fff;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    padding: 0;
    font-size: 15px;
    transition: background-color .5s, border-bottom .5s, gap .5s; /* Add transition for gap */
    position: relative;
    border-bottom: 1px solid #ffffff1f;
}

.buttons a:hover {
    border-bottom: 1px solid white; /* Change border to white on hover */
    gap: 40px; /* Increase gap on hover */
}



/* Example media query to display the small image on smaller screens */
@media (max-width: 765px) {
    .image {
        display: none; /* Hide the large image */
    }
    
    .imageSmall {
        display: block; /* Show the small image */
    }
}
