.container{
    width: 100%;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.wrapper{
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
    grid-template-rows: auto;
    grid-template-columns: 19.25rem 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    place-items: start stretch;
    display: grid;
    width: 100%;
    max-width: 120rem;
    min-height: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
    z-index: 24;
}
.left{
    position: sticky;
    top: 7.5rem;
}
.titleBlock{
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.caption{
    background-color: #eef0f3;
    border-width: 0;
    letter-spacing: .01em;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1em;
    grid-column-gap: .375rem;
    grid-row-gap: .375rem;
    border: 1px solid #ffffff29;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    padding-left: .875rem;
    padding-right: .875rem;
    display: flex;
    position: relative;
}

.leftP1{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.24em;
    color: black;
    margin: 0;
}

.leftP{
    letter-spacing: -.008em;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.56em;
    color: #070d137a;
    margin: 0;
}


.buttons{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.requestButton  {
    background-color: var(--base--primary);
    color: var(--text--text-light);
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: background-color 0.2s;
    font-size: 15px;
    font-weight: 500;
    border: none;
    position: relative; /* Make this button the relative parent */
    cursor: pointer;
    text-decoration: none;
    display: flex;
}

.link, .webLink{
    display: flex;
    gap: 35px; /* Initial gap between text and icon */
    text-decoration: none;
    color: black;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    padding: 0;
    font-size: 15px;
    transition: background-color .5s, border-bottom .5s, gap .5s; /* Add transition for gap */
    position: relative;
    border-bottom: 1px solid #ffffff1f;
}

.link:hover, .webLink:hover{
    border-bottom: 1px solid white; /* Change border to white on hover */
    gap: 40px; /* Increase gap on hover */
}


.requestButton:hover {
    background-color: #0070cc;
    gap: 30px;
}

.right{
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 90rem;
    margin-left: auto;
    display: flex;
    grid-area: span 1 / span 3 / span 1 / span 3;
}

.heading{
    letter-spacing: -.02em;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0;
}
.projectsContainer{
    width: 100%;
}
.projectList{
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: flex;
}
.item{
    top: 6rem;
    width: 100%;
    position: sticky;
}
.item2{
    top: 7rem;
    width: 100%;
    position: sticky;
}
.item3{
    top: 8rem;
    width: 100%;
    position: sticky;
}
.item4{
    top: 9rem;
    width: 100%;
    position: sticky;
}
.item5{
    top: 10rem;
    width: 100%;
    position: sticky;
}
.item6{
    top: 11rem;
    width: 100%;
    position: sticky;
}
.item7{
    top: 12rem;
    width: 100%;
    position: sticky;
}
.item8{
    top: 13rem;
    width: 100%;
    position: sticky;
}
.projectCard{
    color: var(--text--text-light);
    border: 1px solid #ffffff1f;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
}
.projectImage{
    z-index: 1;
    aspect-ratio: 16 / 9;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden;
}
.pImage{
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: .5rem;
    width: 100%;
    height: 100%;
}
.cardDetails{
    z-index: 2;
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    background-image: linear-gradient(#0000, #000000e0);
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 6.875rem 2.5rem 2.5rem;
    display: flex;
    position: absolute;
    inset: auto 0% 0%;
}

.workInfoMain{
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.workTitle{
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    display: flex;
}
.featuredcap{
    grid-column-gap: .375rem;
    grid-row-gap: .375rem;
    border: 1px solid #ffffff29;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    padding-left: .875rem;
    padding-right: .875rem;
    display: flex;
    position: relative;
    letter-spacing: .01em;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1em;
}
.workSubTitle1{
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    Justify-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}
.workSubTitleP1{
    letter-spacing: -.006em;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0;
}
.workSubTitleP2{
    letter-spacing: -.008em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.56em;
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        padding: 50px 20px;
    }

    .wrapper {
        display: block; /* Remove grid layout */
        margin: 0;
        padding: 0;
    }

    .left, .right {
        max-width: 100%; /* Make both sides take full width */
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }
    .left {
        position: static; /* Remove sticky positioning */
        top: auto; /* Reset top position */
        max-width: 100%; /* Make the left section take full width */
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        margin-bottom: 40px;
    }

    .leftP1 {
        font-size: 1.25rem;
    }

    .leftP {
        font-size: 1rem;
    }

    .buttons {
        flex-direction: column;
        gap: 15px;
    }

    .requestButton, .readButton {
        height: 2.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        font-size: 14px;
    }

    .right {
        flex-flow: column;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }

    .heading {
        font-size: 2.5rem;
    }

    .projectList {
        grid-column-gap: 1.06667rem;
        grid-row-gap: 1.06667rem;
    }

    .item, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
        position: static; /* Remove sticky positioning */
        top: auto; /* Reset top position */
        max-width: 100%;
    }

    .projectCard {
        border-radius: 0.25rem;
    }

    .cardDetails {
        padding: 4rem 1.5rem 1.5rem;
    }


    .workTitle {
        flex-flow: column;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .workSubTitleP1 {
        font-size: 1.5rem;
    }

    .workSubTitleP2 {
        display: none;
    }

    .caption, .featuredcap {
        font-size: 0.65rem;
        height: 1.5rem;
    }
}
